.socialIconAnchor {
  font-size: 2.2em;
  margin: 0.15em;
  display: flex;
  justify-items: center;
  justify-content: center;
}


.socialIcon {
  width: 1em;
  height: 1em;
}

.socialIconPath {
  fill: #4B5658;
}